<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <name>login</name>
        <servlet-class>cn.printf.practise.basic.network.webserver.app.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <name>register</name>
        <servlet-class>cn.printf.practise.basic.network.webserver.app.RegisterServlet</servlet-class>
    </servlet>
    <mapping>
        <name>login</name>
        <url-pattern>/login</url-pattern>
    </mapping>
</web-app>
